@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --font-color: #374151;
    scrollbar-gutter: stable both-edges;
    overflow-y: overlay;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply container mx-auto my-6;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: var(--font-color);
    background: url('../assets/images/texture.svg') repeat;
  }

  /* custom scrollBar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--theme-color);
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* custom selection */
  ::selection {
    color: var(--theme-color);
    background-color: var(--background-color);
  }

  /* custom page */
  .page {
    @apply relative min-h-screen;
  }

  /* photo */
  .photo-view-mask {
    background-color: var(--background-color) !important;
  }

  /* custom prose */
  .prose pre {
    @apply relative;
  }

  .prose pre[data-language]::before {
    @apply absolute right-2 top-2 text-base uppercase leading-4;
    content: attr(data-language);
    color: var(--font-color);
    border-bottom: 2px solid currentColor;
  }

  .prose code::before,
  .prose code::after {
    @apply hidden;
  }

  .prose img {
    @apply mx-auto mb-4 rounded shadow-md;
  }

  .prose p,
  .prose li {
    @apply text-justify;
  }

  .prose p:has(img) {
    @apply relative;
  }
}
