.info p {
  @apply block leading-7;
}

.friends li {
  will-change: transform;
  border: 2px solid var(--font-color);
}

.friends li img {
  transform: translateX(40%);
  opacity: 0.2;
}

.friends li:hover {
  color: var(--theme-color);
  border-color: var(--theme-color);
  box-shadow: 0 10px 15px -3px var(--background-color), 0 4px 6px -4px var(--background-color);
}

.friends li:hover img {
  opacity: 0.5;
}
