.title {
  font-family: GuDianMingChaoTi;
}

.nav {
  animation: zoomIn 0.3s ease-out;
}

.nav > a {
  @apply cursor-pointer p-2 flex transform duration-300;
}

.nav > a.active {
  color: var(--theme-color);
}

header svg {
  @apply mr-1;
}

@media (max-width: 640px) {
  .nav-over {
    @apply absolute top-20 right-4 p-1 flex flex-col rounded shadow-sm z-10;
    background-color: white;
  }

  .nav-over a {
    @apply justify-center py-3 w-24 text-center;
    background-color: var(--background-color);
  }

  .nav-over svg {
    @apply mr-2;
  }
}

.toggle span {
  @apply w-full my-1 rounded transform transition-all duration-300;
  height: 2px;
  background-color: var(--font-color);
}

.toggle.active span:first-child {
  @apply rotate-45 translate-y-2.5;
}

.toggle.active span:nth-child(2) {
  @apply opacity-0;
}

.toggle.active span:nth-child(3) {
  @apply -rotate-45 -translate-y-2.5;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
