@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #8c78b0;
  --color-btn-primary-hover-bg: #8c78b0;
  --color-btn-primary-hover-border: #8c78b0;
  --color-btn-primary-disabled-bg: #8c78b0;
  --color-segmented-control-button-bg: #e3dbed;
  --color-accent-fg: #8c78b0;
  --color-accent-emphasis: #8c78b0;
  --color-success-fg: #8c78b0;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #e3dbed;
}
