@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #5260a6;
  --color-btn-primary-hover-bg: #5260a6;
  --color-btn-primary-selected-bg: #5260a6;
  --color-btn-primary-disabled-bg: #5260a6;
  --color-segmented-control-button-bg: #e2e5f5;
  --color-accent-fg: #5260a6;
  --color-accent-emphasis: #5260a6;
  --color-success-fg: #5260a6;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #e2e5f5;
}
