@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #e06458;
  --color-btn-primary-hover-bg: #e06458;
  --color-btn-primary-selected-bg: #e06458;
  --color-btn-primary-disabled-bg: #e06458;
  --color-segmented-control-button-bg: #fcfaf2;
  --color-accent-fg: #e06458;
  --color-accent-emphasis: #e06458;
  --color-success-fg: #e06458;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #fcfaf2;
}
