@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #827595;
  --color-btn-primary-hover-bg: #827595;
  --color-btn-primary-selected-bg: #827595;
  --color-btn-primary-disabled-bg: #827595;
  --color-segmented-control-button-bg: #e6e3f6;
  --color-accent-fg: #827595;
  --color-accent-emphasis: #827595;
  --color-success-fg: #827595;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #e6e3f6;
}
