@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #bf9997;
  --color-btn-primary-hover-bg: #bf9997;
  --color-btn-primary-selected-bg: #bf9997;
  --color-btn-primary-disabled-bg: #bf9997;
  --color-segmented-control-button-bg: #f2dfd9;
  --color-accent-fg: #bf9997;
  --color-accent-emphasis: #bf9997;
  --color-success-fg: #bf9997;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #f2dfd9;
}
