@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #7ea08a;
  --color-btn-primary-hover-bg: #7ea08a;
  --color-btn-primary-selected-bg: #7ea08a;
  --color-btn-primary-disabled-bg: #7ea08a;
  --color-segmented-control-button-bg: #f3f7f2;
  --color-accent-fg: #7ea08a;
  --color-accent-emphasis: #7ea08a;
  --color-success-fg: #7ea08a;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #f3f7f2;
}
