@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: var(--nilou-primary);
  --color-btn-primary-hover-bg: var(--nilou-primary);
  --color-btn-primary-selected-bg: var(--nilou-primary);
  --color-btn-primary-disabled-bg: var(--nilou-primary);
  --color-segmented-control-button-bg: var(--nilou-background);
  --color-accent-fg: var(--nilou-primary);
  --color-accent-emphasis: var(--nilou-primary);
  --color-success-fg: var(--nilou-primary);
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: var(--nilou-background);
}
