@import url('https://www.chanshiyu.com/assets/styles/comment.css');

main {
  --color-btn-primary-bg: #8996b2;
  --color-btn-primary-hover-bg: #8996b2;
  --color-btn-primary-selected-bg: #8996b2;
  --color-btn-primary-disabled-bg: #8996b2;
  --color-segmented-control-button-bg: #f3e8db;
  --color-accent-fg: #8996b2;
  --color-accent-emphasis: #8996b2;
  --color-success-fg: #8996b2;
}

main .gsc-pagination-button,
main .gsc-reactions-popover {
  background-color: #f3e8db;
}
