.app {
  @apply min-h-screen overflow-x-hidden tracking-wide;
  padding-left: 33.333333vw;
  background-color: var(--background-color);
}

.app::before {
  @apply fixed top-0 left-0 w-screen h-screen bg-fixed bg-center bg-cover bg-no-repeat;
  content: '';
  z-index: -1;
  opacity: 0.1;
  background-image: var(--background-image);
  transition: background-image 0.8s;
}

@media (max-width: 1024px) {
  .app {
    padding-left: 0;
  }
  .app::before {
    background-position: 90% center;
  }
}

@media (max-width: 640px) {
  .app::before {
    background-image: unset;
  }
}

/* page fade animation */
.fade {
  @apply w-full self-start;
  animation: fade 0.8s ease-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-appear,
.fade-in-enter {
  opacity: 0;
  transform: translateY(-3rem);
}
.fade-in-appear-active,
.fade-in-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}
.fade-in-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-exit-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.6s ease-in-out;
}

/* custom page */
.page {
  @apply relative w-full min-h-screen pt-8 lg:pt-12 pb-8 lg:pb-12 px-4 md:px-8 lg:pr-32 lg:pl-0 flex items-center;
}

/* link */
.link {
  @apply relative;
  color: var(--theme-color);
}
.link::after {
  @apply absolute left-1/2 bottom-0 w-0 h-px bg-current 
  transform transition-all duration-500 -translate-x-1/2;
  content: '';
}
.link:hover::after {
  @apply w-full;
}

.link:hover::before {
  @apply opacity-100 scale-100 -translate-y-7;
}

.markdown-body-scrollable {
  background: var(--theme-color);
}
