@layer base {
  :root {
    color-scheme: light dark;
    @apply scroll-smooth;
  }

  ::view-transition-new(root) {
    @apply animate-turn-off;
  }

  ::view-transition-old(root) {
    animation: none;
  }

  [data-theme='dark']::view-transition-new(root) {
    @apply animate-turn-on;
  }

  *,
  ::after,
  ::before {
    @apply border-muted/20;
  }

  body {
    @apply bg-base text-text container mx-auto! flex min-h-screen flex-col px-4 font-sans font-medium antialiased;
    @apply selection:bg-muted/20;
  }

  kbd {
    @apply border-muted/20 bg-muted/10 text-subtle hover:bg-muted/20 flex items-center gap-1 rounded-lg border px-1.5 py-1 leading-none font-semibold uppercase transition;
  }

  h2,
  h3 {
    @apply scroll-mt-8;
  }

  pre[data-theme='dark'] {
    color-scheme: dark;
  }

  pre[data-language] {
    @apply p-0!;
    @apply after:absolute after:right-4 after:bottom-3 after:uppercase after:content-[attr(data-language)];

    code {
      @apply py-3!;
    }

    span[data-line=''] {
      @apply px-4;
    }
  }

  code[data-theme*=' '],
  code[data-theme*=' '] span {
    @apply font-medium;
    color: var(--shiki-light);
  }

  [data-theme='dark'] {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
      color: var(--shiki-dark);
    }
  }

  span[data-highlighted-line] {
    @apply border-muted bg-base border-l-2;
  }
}
