@layer base {
  :root {
    @apply scroll-smooth;
  }

  ::view-transition-new(root) {
    @apply animate-turn-off;
  }

  ::view-transition-old(root) {
    animation: none;
  }

  [data-theme='dark']::view-transition-new(root) {
    @apply animate-turn-on;
  }

  *,
  ::after,
  ::before {
    @apply border-muted/20;
  }

  html {
    color-scheme: light dark;
  }

  html[data-theme='light'] {
    color-scheme: light;
  }

  html[data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    @apply bg-base text-text mx-auto! flex min-h-screen max-w-3xl flex-col px-4 font-sans font-medium tabular-nums antialiased;
    @apply selection:bg-muted/20;
  }

  kbd {
    @apply border-muted/20 bg-muted/10 text-subtle hover:bg-muted/20 flex items-center gap-1 rounded-lg border px-1.5 py-1 leading-none font-semibold uppercase transition;
  }

  h2,
  h3 {
    @apply scroll-mt-8;
  }

  pre[data-language] {
    @apply p-0!;

    code {
      @apply py-3!;
    }

    span[data-line=''] {
      @apply px-4;
    }
  }

  code[data-theme],
  code[data-theme] span {
    @apply font-medium;
    color: light-dark(var(--shiki-light), var(--shiki-dark));
  }

  span[data-highlighted-line] {
    @apply bg-base border-l-2;
  }

  blockquote {
    @apply bg-surface block rounded-lg px-3 py-1;

    p {
      &:first-child::before,
      &:last-child::after {
        content: none !important;
      }
    }
  }
}
