@tailwind components;

@layer components {
  /* Page */
  .page {
    @apply w-full flex-1 space-y-20 py-20;
  }

  /* Album */
  .album {
    p,
    img {
      @apply m-0;
    }

    .alt {
      @apply my-2;
    }
  }

  /* Card */
  .card {
    @apply transform-gpu overflow-hidden rounded-lg duration-500 hover:scale-[.97];
  }
  .card-sm {
    @apply card hover:scale-95;
  }

  /* Menu Item */
  .menuitem {
    @apply transition-all duration-300;
    @apply block cursor-pointer leading-none text-subtle data-[isactive='true']:text-text hover:bg-muted/10 focus:outline-none focus:ring focus:ring-inset;
  }

  /* Tiny Thumb */
  .tiny-thumb {
    @apply rounded-lg border border-muted/20 bg-muted/10 px-2 py-1 font-semibold leading-none text-subtle transition hover:bg-muted/20 focus:outline-none focus:ring;
  }

  /* Link */
  .link {
    @apply inline text-iris no-underline underline-offset-2 hover:underline;
    @apply after:ml-0.5 after:inline-block after:whitespace-pre after:transition-all after:duration-300 after:content-['↗'];
  }

  .link[href^='#'] {
    @apply relative font-bold text-text no-underline;
    @apply after:absolute after:-left-6 after:text-muted after:opacity-0 after:content-['#'] hover:after:opacity-100;
  }

  .link-hover {
    @apply link after:opacity-0 hover:after:opacity-100;
  }

  /* Photo View Mask */
  .photo-view-mask {
    @apply !bg-surface;
  }

  /* Syntax Highlighting */
  pre[data-theme='dark'] {
    color-scheme: dark;
  }

  pre[data-language] {
    @apply p-0;
    @apply after:absolute after:bottom-3 after:right-4 after:uppercase after:content-[attr(data-language)];

    code {
      @apply py-3;
    }

    span[data-line=''] {
      @apply px-4;
    }
  }

  code[data-theme*=' '],
  code[data-theme*=' '] span {
    @apply font-medium;
    color: var(--shiki-light);
  }

  [data-theme='dark'] {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
      color: var(--shiki-dark);
    }
  }

  span[data-highlighted-line] {
    @apply border-l-2 border-muted bg-base;
  }

  /* City Cat, https://codepen.io/rachelnabors/pen/ApvavZ */

  .walk-cat {
    --cat-height: 1728px;
    --cat-steps: 12;
    --cat-image: url(/assets/cat_walk.png);
  }

  .run-cat {
    --cat-height: 1872px;
    --cat-steps: 13;
    --cat-image: url(/assets/cat_run.png);
  }

  .walk-cat,
  .run-cat {
    --cat-width: 289px;
    @apply h-full w-full bg-center bg-no-repeat;
    background-size: var(--cat-width) var(--cat-height);
    background-image: var(--cat-image);
    animation: cat-cycle 1s steps(var(--cat-steps)) infinite;
  }

  @keyframes cat-cycle {
    0% {
      background-position: center 0;
    }
    100% {
      background-position: center calc(-1 * var(--cat-height));
    }
  }

  /* Cute Cat, https://codepen.io/AngelaVelasquez/pen/AWyNYb */
  .cute-cat {
    --cat-border: #ffb399;
    --cat-bg-light: #5ddfe8;
    --cat-bg-dark: #111;
    --cat-sun: #ffee94;
    --cat-moon: #eee;
    --cat-body-light: #777;
    --cat-body-dark: #444;

    @apply relative z-10 block h-[var(--cat-size)] w-[var(--cat-size)] cursor-pointer overflow-hidden rounded-full border-[calc(var(--cat-size)*0.034)] border-[var(--cat-border)] bg-[var(--cat-bg-light)] shadow-inner transition-colors duration-1000;

    .the-sun,
    .the-moon {
      @apply absolute block rounded-full;
      transition: top 0.5s ease-in-out;
    }

    .the-sun {
      @apply bg-[var(--cat-sun)];
      width: calc(var(--cat-size) * 0.17);
      height: calc(var(--cat-size) * 0.17);
      top: calc(var(--cat-size) * 0.077);
      right: calc(var(--cat-size) * 0.255);
      box-shadow: 0 0 calc(var(--cat-size) * 0.17) var(--cat-sun);
    }

    .the-moon {
      @apply bg-[var(--cat-moon)];
      height: calc(var(--cat-size) * 0.102);
      width: calc(var(--cat-size) * 0.102);
      top: calc(var(--cat-size) * 0.851);
      left: calc(var(--cat-size) * 0.255);
      box-shadow: 0 0 calc(var(--cat-size) * 0.085) var(--cat-moon);
    }

    .the-cat {
      @apply absolute block bg-[var(--cat-body-light)] transition-all duration-300;
      bottom: calc(var(--cat-size) * -0.085);
      height: calc(var(--cat-size) * 0.596);
      width: calc(var(--cat-size) * 0.574);
      margin: 0 calc(var(--cat-size) * 0.179);
    }

    .the-cat:before,
    .the-cat:after {
      @apply absolute h-0 w-0;
      content: '';
      top: calc(var(--cat-size) * -0.08);
      border-bottom: calc(var(--cat-size) * 0.085) solid var(--cat-body-light);
    }

    .the-cat:before {
      @apply left-0;
      border-left: 0 solid transparent;
      border-right: calc(var(--cat-size) * 0.128) solid transparent;
    }

    .the-cat:after {
      @apply right-0;
      border-right: 0 solid transparent;
      border-left: calc(var(--cat-size) * 0.128) solid transparent;
    }

    .the-cat .eyes {
      @apply absolute block bg-[var(--cat-sun)];
      height: calc(var(--cat-size) * 0.17);
      width: calc(var(--cat-size) * 0.17);
      bottom: calc(var(--cat-size) * 0.34);
      border-radius: 100%;
    }

    .the-cat .eyes.left {
      left: calc(var(--cat-size) * 0.051);
    }

    .the-cat .eyes.right {
      right: calc(var(--cat-size) * 0.051);
    }

    .the-cat .eyes .pupil {
      @apply relative mx-auto block h-full bg-[var(--cat-border)] transition-all duration-500;
      width: calc(var(--cat-size) * 0.021);
      border-radius: 100%;
    }

    .the-cat .nose {
      @apply relative mx-auto block rounded-full bg-[var(--cat-border)];
      height: calc(var(--cat-size) * 0.043);
      width: calc(var(--cat-size) * 0.043);
      top: calc(var(--cat-size) * 0.191);
    }

    &:hover {
      .the-cat {
        bottom: calc(var(--cat-size) * -0.17);
      }
      .the-cat .eyes {
        height: calc(var(--cat-size) * 0.034);
        bottom: calc(var(--cat-size) * 0.426);
      }
    }
  }

  [data-theme='dark'] .cute-cat {
    @apply bg-[var(--cat-bg-dark)];

    .the-sun {
      top: calc(var(--cat-size) * 0.851);
    }

    .the-moon {
      top: calc(var(--cat-size) * 0.17);
    }

    .the-cat {
      @apply bg-[var(--cat-body-dark)];
    }

    .the-cat:before,
    .the-cat:after {
      @apply border-b-[var(--cat-body-dark)];
    }

    .the-cat .eyes .pupil {
      height: 90%;
      width: calc(var(--cat-size) * 0.145);
      margin: 5% auto;
    }

    &:hover {
      .the-cat .eyes {
        height: calc(var(--cat-size) * 0.17);
        bottom: calc(var(--cat-size) * 0.34);
      }
    }
  }
}
