@layer components {
  kbd {
    @apply rounded-lg border border-zinc-200 bg-zinc-100 p-1 leading-none text-zinc-500;
  }

  /* rehype-pretty-code */
  /* code {
    counter-reset: line;
  }

  code > [data-line]::before {
    @apply mr-8 inline-block w-4 text-right text-zinc-300;
    counter-increment: line;
    content: counter(line);
  }

  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    @apply w-8;
  }

  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    @apply w-12;
  }

  html[data-theme='dark'] figure pre,
  html[data-theme='dark'] figure pre span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  html[data-theme='light'] figure pre,
  html[data-theme='light'] figure pre span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  } */

  /* image viwer background */
  /* .photo-view-mask {
    @apply !bg-zinc-50 dark:!bg-zinc-800;
  } */

  /* bounce right animation */
  /* .bounce-right {
    animation: bounce-right 1s infinite;
  } */
}
/* 
@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(20%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
} */
