@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scrollbar-gutter: stable both-edges;
    overflow-y: overlay;
  }

  body {
    @apply container mx-auto my-6;
    color: var(--font-color);
    background: url('../assets/images/texture.svg') repeat fixed;
  }
}
