@layer base {
  body {
    @apply bg-white bg-light bg-fixed bg-repeat text-zinc-700 dark:bg-zinc-900 dark:bg-dark dark:text-zinc-300;
  }
}

::view-transition-new(root) {
  animation: turnOff 600ms ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

[data-theme='dark']::view-transition-new(root) {
  animation: turnOn 600ms ease-in-out;
}

@keyframes turnOn {
  0% {
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 0 0);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes turnOff {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
