@layer base {
  :root {
    /* --foreground: 222.2 84% 4.9%; */
  }

  [data-theme='dark'] {
    /* --foreground: 210 40% 98%; */
  }

  body {
    @apply bg-light bg-fixed bg-repeat text-slate-800 dark:bg-dark dark:text-slate-200;
  }
}

::view-transition-new(root) {
  animation: turnOff 800ms ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

[data-theme='dark']::view-transition-new(root) {
  animation: turnOn 800ms ease-in-out;
}

@keyframes turnOn {
  0% {
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 0 0);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes turnOff {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
