@utility prose-rosepine {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-text);
  --tw-prose-lead: var(--color-text);
  --tw-prose-links: var(--color-iris);
  --tw-prose-bold: var(--color-text);
  --tw-prose-counters: var(--color-subtle);
  --tw-prose-bullets: var(--color-subtle);
  --tw-prose-hr: var(--color-overlay);
  --tw-prose-quotes: var(--color-text);
  --tw-prose-quote-borders: var(--color-overlay);
  --tw-prose-kbd: var(--color-text);
  --tw-prose-kbd-shadows: var(--color-text);
  --tw-prose-captions: var(--color-text);
  --tw-prose-code: var(--color-rose);
  --tw-prose-pre-code: var(--color-muted);
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-th-borders: var(--color-overlay);
  --tw-prose-td-borders: var(--color-overlay);

  /* invert mode */
  --tw-prose-invert-body: var(--color-text);
  --tw-prose-invert-headings: var(--color-text);
  --tw-prose-invert-lead: var(--color-text);
  --tw-prose-invert-links: var(--color-iris);
  --tw-prose-invert-bold: var(--color-text);
  --tw-prose-invert-counters: var(--color-subtle);
  --tw-prose-invert-bullets: var(--color-subtle);
  --tw-prose-invert-hr: var(--color-overlay);
  --tw-prose-invert-quotes: var(--color-text);
  --tw-prose-invert-quote-borders: var(--color-overlay);
  --tw-prose-invert-kbd: var(--color-text);
  --tw-prose-invert-kbd-shadows: var(--color-text);
  --tw-prose-invert-captions: var(--color-text);
  --tw-prose-invert-code: var(--color-rose);
  --tw-prose-invert-pre-code: var(--color-muted);
  --tw-prose-invert-pre-bg: var(--color-surface);
  --tw-prose-invert-th-borders: var(--color-overlay);
  --tw-prose-invert-td-borders: var(--color-overlay);
}

@utility page {
  @apply w-full flex-1 space-y-20 py-20 max-md:space-y-12 max-md:py-12;
}

@utility vibes {
  h2 {
    @apply flex justify-end border-t pt-5 first:border-t-0 first:pt-0;
  }
}

@utility menu-button {
  @apply text-subtle hover:bg-overlay inline-block w-full cursor-pointer rounded-lg px-3 py-2 text-center leading-none font-semibold transition-all duration-300;
  @apply data-[isactive='true']:text-rose;
}

@utility tiny-button {
  @apply text-subtle inline-block cursor-pointer rounded-lg leading-none font-semibold transition-all duration-300;
  @apply hover:brightness-95;
  @apply bg-overlay border px-2 py-1;
}

@utility link {
  @apply relative inline-block w-fit pr-2 underline decoration-transparent! underline-offset-2 duration-300 hover:decoration-current!;

  &::before {
    @apply absolute top-1/2 -right-0.5 -translate-y-[1.3em] text-xs transition-all duration-300 content-['┓'];
  }

  &[href^='#'] {
    @apply text-text font-bold no-underline hover:before:opacity-100;
    &::before {
      @apply text-muted top-0 -left-6 translate-none opacity-0 content-['#'];
      font-size: inherit;
    }
  }
}

@utility link-hover {
  @apply link before:opacity-0 hover:before:opacity-100;
}

@utility hr-twill {
  @apply bg-muted h-1 w-full border-none;
  mask-image: repeating-linear-gradient(
    135deg,
    #000 0px,
    #000 2px,
    transparent 2px,
    transparent 6px
  );
}

@utility toc {
  & li.visible > a {
    @apply text-text decoration-muted translate-x-1.5;
  }
}

@utility visible {
  .toc &li > a {
    @apply text-text decoration-muted translate-x-1.5;
  }
}

@utility scrollbar-hide {
  scrollbar-width: none;
}

@utility text-shadow {
  text-shadow: 1px 1px 3px hsl(var(--color-text) / 0.3);
}

@utility text-2xs {
  @apply text-[10px];
}

@utility photo-view-mask {
  @apply bg-surface!;
}

@utility meow-bubble {
  @apply bg-overlay absolute -top-4 -right-20 h-8 w-16 translate-x-2 rounded-[46px] text-center text-sm leading-loose font-bold opacity-0 transition-opacity duration-300;

  .tail {
    @apply bg-overlay absolute bottom-0.5 -left-2 h-4 w-4 rounded-full;

    &::before {
      @apply bg-overlay absolute -bottom-2 -left-2 h-2 w-2 rounded-full content-[''];
    }
  }
}

@utility slide-container {
  --enter-start: 0ms;
  --enter-delay: 100ms;
  --enter-stagger: 0;

  .slide-auto > * {
    --enter-stagger: sibling-index();
  }

  [style*='--enter-stagger'],
  .slide-auto > * {
    animation: slide-enter 1s backwards 1;
    animation-delay: calc(
      var(--enter-start) + var(--enter-stagger) * var(--enter-delay)
    );
  }
}

@utility photo-gallery {
  @apply grid grid-cols-3 gap-3 max-md:grid-cols-2;

  &[data-total='1'] {
    @apply grid-cols-1;
  }

  &[data-total='2'],
  &[data-total='4'] {
    @apply grid-cols-2;
  }

  figure {
    @apply m-0;
  }
}

@utility player-progress {
  @apply bg-overlay block h-10 w-full cursor-pointer appearance-none outline-hidden;

  &::-webkit-slider-runnable-track {
    @apply h-10;
    background: linear-gradient(
      to right,
      var(--color-muted) 0%,
      var(--color-muted) var(--progress),
      transparent var(--progress),
      transparent 100%
    );
  }

  &::-webkit-slider-thumb {
    @apply bg-muted h-10 w-1 appearance-none;
  }
}

@utility player-button {
  @apply flex h-20 w-20 cursor-pointer items-center justify-center outline-hidden disabled:opacity-60;
}

@utility wave {
  @apply relative;

  &::before,
  &::after {
    @apply absolute -top-20 left-1/2 aspect-square w-sm content-[''];
  }

  &::before {
    --duration: 10s;
    @apply animate-wave rounded-[45%] bg-white/40;
  }

  &::after {
    --duration: 20s;
    @apply animate-wave rounded-[40%] bg-white/20;
  }
}

@utility wave-reverse {
  &::before,
  &::after {
    animation-direction: reverse;
  }
}

/* Cute Cat, https://codepen.io/AngelaVelasquez/pen/AWyNYb */
@utility cute-cat {
  --cat-border: #ffb399;
  --cat-bg-light: #5ddfe8;
  --cat-bg-dark: #111;
  --cat-sun: #ffee94;
  --cat-moon: #eee;
  --cat-body-light: #777;
  --cat-body-dark: #444;

  @apply relative block h-[var(--cat-size)] w-[var(--cat-size)] cursor-pointer overflow-hidden rounded-full border-[calc(var(--cat-size)*0.034)] border-[var(--cat-border)] bg-[var(--cat-bg-light)] shadow-inner transition-colors duration-1000;

  .the-sun,
  .the-moon {
    @apply absolute block rounded-full;
    transition: top 0.5s ease-in-out;
  }

  .the-sun {
    @apply bg-[var(--cat-sun)];
    width: calc(var(--cat-size) * 0.17);
    height: calc(var(--cat-size) * 0.17);
    top: calc(var(--cat-size) * 0.077);
    right: calc(var(--cat-size) * 0.255);
    box-shadow: 0 0 calc(var(--cat-size) * 0.17) var(--cat-sun);
  }

  .the-moon {
    @apply bg-[var(--cat-moon)];
    height: calc(var(--cat-size) * 0.102);
    width: calc(var(--cat-size) * 0.102);
    top: calc(var(--cat-size) * 0.851);
    left: calc(var(--cat-size) * 0.255);
    box-shadow: 0 0 calc(var(--cat-size) * 0.085) var(--cat-moon);
  }

  .the-cat {
    @apply absolute block bg-[var(--cat-body-light)] transition-all duration-300;
    bottom: calc(var(--cat-size) * -0.085);
    height: calc(var(--cat-size) * 0.596);
    width: calc(var(--cat-size) * 0.574);
    margin: 0 calc(var(--cat-size) * 0.179);

    &::before,
    &::after {
      @apply absolute h-0 w-0;
      content: '';
      top: calc(var(--cat-size) * -0.08);
      border-bottom: calc(var(--cat-size) * 0.085) solid var(--cat-body-light);
    }

    &::before {
      @apply left-0;
      border-left: 0 solid transparent;
      border-right: calc(var(--cat-size) * 0.128) solid transparent;
    }

    &::after {
      @apply right-0;
      border-right: 0 solid transparent;
      border-left: calc(var(--cat-size) * 0.128) solid transparent;
    }

    .eyes {
      @apply absolute block bg-[var(--cat-sun)];
      height: calc(var(--cat-size) * 0.17);
      width: calc(var(--cat-size) * 0.17);
      bottom: calc(var(--cat-size) * 0.34);
      border-radius: 100%;
    }

    .eyes.left {
      left: calc(var(--cat-size) * 0.051);
    }

    .eyes.right {
      right: calc(var(--cat-size) * 0.051);
    }

    .eyes .pupil {
      @apply relative mx-auto block h-full bg-[var(--cat-border)] transition-all duration-500;
      width: calc(var(--cat-size) * 0.021);
      border-radius: 100%;
    }

    .nose {
      @apply relative mx-auto block rounded-full bg-[var(--cat-border)];
      height: calc(var(--cat-size) * 0.043);
      width: calc(var(--cat-size) * 0.043);
      top: calc(var(--cat-size) * 0.191);
    }
  }

  @media (hover: hover) {
    &:hover {
      .the-cat {
        bottom: calc(var(--cat-size) * -0.17);

        .eyes {
          height: calc(var(--cat-size) * 0.034);
          bottom: calc(var(--cat-size) * 0.426);
        }
      }
    }
  }

  [data-theme='dark'] & {
    @apply bg-[var(--cat-bg-dark)];

    .the-sun {
      top: calc(var(--cat-size) * 0.851);
    }

    .the-moon {
      top: calc(var(--cat-size) * 0.17);
    }

    .the-cat {
      @apply bg-[var(--cat-body-dark)];

      &::before,
      &::after {
        @apply border-b-[var(--cat-body-dark)];
      }

      .eyes .pupil {
        height: 90%;
        width: calc(var(--cat-size) * 0.145);
        margin: 5% auto;
      }
    }

    &:hover {
      .the-cat .eyes {
        height: calc(var(--cat-size) * 0.17);
        bottom: calc(var(--cat-size) * 0.34);
      }
    }
  }
}
